@charset "UTF-8";

*{
    margin: 0vw;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    max-height: 400px;
    padding: 50px;
    text-align: center;
}

header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7.5vw;
    font-variant: small-caps;
}

header p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

main{
    font-family: cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 0px 0px 30px;
    line-height: 2em;
    font-weight: bold;
    font-size: 3vw;
}

.normal{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#joaninha{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: -30px;
    padding: 20px;
    background-position: center center;
}

.texto {
    background-color: rgba(0, 0, 0, 0.433);
    width: fit-content;
    color: white;
    margin: 10px 10px 10px 20px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.514);
    padding: 5px;
}

#cartas{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: -30px;
    padding: 20px;
    background-position: top right;
    box-shadow: inset rgba(0, 0, 0, 0.475) -4px -3px 20px 5px;
}

footer{
    background-color: black;
    max-height: 30px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}